@font-face {
    font-family: Figtree;
    src: url(./assets/fonts/Figtree-VariableFont_wght.ttf)
}

:root {
    --color-bg: #F4D04E;
    --color-card-bg: #FFFFFF;
    --color-card-description: #6B6B6B;
    --color-card-text: #111111;
    --color-card-border: #000000;
    --base-font-size: 0.875rem;
}

body {
    background-color: var(--color-bg);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.blog-card {
    font-family: Figtree, sans-serif;
    font-size: var(--base-font-size);
    box-sizing: border-box;
    background-color: var(--color-card-bg);
    padding: 24px;
    max-inline-size: 24rem;
    border-radius: 20px;
    line-height: 150%;
    border: 1px solid var(--color-card-border);
    box-shadow: 6px 6px var(--color-card-border);
}

.blog-card > img:first-child {
    max-block-size: 12.5rem; 
    max-width: 100%; /* pretty important, prevents images to never be wider than blog-card container*/
    border-radius: 10px;
}

/* blog-tag choices were made in mind that more tags could be created */
.blog-tags {
    display: flex;
    list-style-type: none;
    padding: 0; 
    gap: 12px;
    font-weight: 800;

}

.blog-tags li {
    background-color: var(--color-bg);
    color: var(--color-card-text);
    padding-inline: 12px;
    padding-block: 4px;
    border-radius: 4px;
}

/* published date */
.blog-tags + p {
    font-weight: 500;
    color: var(--color-card-text);
}

.blog-card section h2 {
    font-size: 1.5rem;
}

.blog-card section p {
    font-weight: 500;
    font-size: 1rem;
    color: var(--color-card-description);
}

.blog-card footer {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 800;
}

.blog-card footer img {
    width: 2rem;
    height: 2rem;
}
